@import colors
@import fonts
@import blocks

body
    font-size 16px

img.header
    width 100%

.navbar-default
    background-color white
    box-shadow 0 0 5px 0 rgba(0, 0, 0, 0.2)

.navbar .navbar-collapse
    text-align center

.nav li
    line-height 50px

.navbar-nav>li>a
    line-height 35px

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
    color grey
    background-color blue

.nav li a
    font-size 35px
    margin 0 5px
    font-family font

.nav li img
    padding-top 10px

.wedding-light
    color blue

.gallery
    .img-thumbnail
        margin-bottom 10px

section h1
    font-family font
    font-size 50px
    margin-bottom 20px
    color blue

section h2
    font-family font
    color darkGrey

section h3
    font-family font
    color darkGrey
    // border-bottom 1px solid blue
    display inline-block

section h4
    margin-top 30px

section .image-separator
    margin-bottom 30px

section img
    max-width 100%
    height auto

section img.map
    margin-bottom 20px

.block-shadowed
    blockShadowed()
